$primary: #009ee3;
$sub: #63c6c8;
$text: #2c3e50;

$y: #27c93d;
$n: #ff4a4f;

$white: #fff;
$gray-lightest: #eaeaea;
$gray-light: #C7CED8;

$shadow: 0 0 5px rgba(0, 0, 0, .35);

$trans: cubic-bezier(0.075, 0.82, 0.165, 1);