nav {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 999;
    ul {
        list-style-type: none;
        padding: 0;
        a { 
            color: $white;
            li {
                display: inline-block;
                margin: 0 10px;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.nav-bg {
    position: relative;
    height: 150px;
    width: 100vw;
    background: linear-gradient(-45deg,#009ee3, #63c6c8);
    img.logo-white {
        position: absolute;
        top: 15px;
        left: 30px;
        height: 120px;
    }
}